<head>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header>
    <h1>INFO</h1>
    <p>Please add your API key at the end of the link</p>
    <p>In our case we are using a mock-up localhost:3000 link</p>
    <p>http://localhost:3000/<<`your api here`>>/recipe/<<`recipe name`>></p>
    <p>example http://localhost:3000/3131234gas/recipe/omelette</p>
  </header>
  <main></main>
</body>
